
html{
    background-color: #edf2c5;
    position: relative;
    left: 50%;
    margin-left: -630px; /* 760 除以 -2 */
    width: 1260px;
}

.bg {
    width: 1260px;
    height: 880px;
}

.icon {
    display: flex;
}

.logo_Vegetables {
    width: 271px;
    height: 42px;
    font-family: Arial;
    font-size: 44px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.82;
    letter-spacing: normal;
    text-align: left;
    color: #778a50;
    margin: 0px;
    margin-top: 53px;
    margin-left: 159px;
}

.btn_facebook {
    width: 25px;
    height: 25px;
    margin-left: 465px;
    margin-top: 61px;
}

.btn_instagram  {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-top: 61px;
}

.line_login {
    width: 1px;
    height: 25px;
    background-color: #778a50;
    margin-left: 10px;
    margin-top: 61px;
}

.btn_LOGIN_box {
    width: 60px;
    height: 25px;
    border-radius: 3px;
    border: solid 1px #778a50;
    /* background-color: #778a50; */
    margin-left: 10px;
    margin-top: 61px;
}

.btn_LOGIN {
    width: 43px;
    height: 10px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #778a50;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 9px;
}

.btn_JOIN_box  {
    width: 50px;
    height: 25px;
    border-radius: 3px;
    border: solid 1px #778a50;
    /* background-color: #778a50; */
    margin-left: 10px;
    margin-top: 61px;
}

.btn_JOIN {
    width: 33px;
    height: 10px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #778a50;
    margin-top: 5px;
    margin-left: 9px;
    margin-right: 8px;
}

.nav_box {
    width: 940px;
    height: 44px;
    border-radius: 3px;
    background-color: #778a50;
    margin-left: 160px;
}

.nav_box_list li{
    display: inline-block;
    vertical-align: center;
    margin-top: 3px;
    margin-right: 60px;
}

.Home {
    width: 50px;
    height: 12px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    margin-left: 30px;
  }

.About-Us {
    width: 80px;
    height: 12px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}

.Vegetables {
    width: 99px;
    height: 15px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}

.Online {
    width: 55px;
    height: 12px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}

.Contact {
    width: 69px;
    height: 12px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
}

.img_main_pumpkin {
    width: 940px;
    height: 448px;
    margin-top: 20px;
    margin-left: 160px;
}

.sub_title{
    margin-top: 30px;
    display: flex;
    margin-left: 160px;
}

.box_vegetables {
    width: 445px;
    height: 45px;
    border-radius: 3px;
    background-color: #778a50;
}

.vegetables {
    width: 99px;
    height: 15px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    margin-top: 10px;
    margin-left: 30px;
}

.box_contact {
    width: 445px;
    height: 45px;
    border-radius: 3px;
    background-color: #778a50;
    margin-left: 50px;
}

.contact {
    width: 69px;
    height: 12px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    margin-top: 10px;
    margin-left: 30px;
}

.box_vegetables_picture{
    display: flex;
    margin-top: 15px;
    margin-left: 160px;
}

.img_vegetables_pepper {
    width: 140px;
    height: 140px;
}

.img_vegetables_carrot {
    width: 140px;
    height: 140px;
    margin-left: 12px;
}

.img_vegetables_corn {
    width: 140px;
    height: 140px;
    margin-left: 12px;
}

.body_box_contact_text {
    width: 445px;
    height: 140px;
    border-radius: 3px;
    background-color: #f7fbda;
    margin-left: 51px;
}

.message {
    width: 410px;
    height: 43px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
    margin-left: 15px;
}

.line_contact_text {
    width: 414px;
    height: 1px;
    background-color: #7d7d7d;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 15px;
}

.contact_detals {
    width: 193px;
    height: 31px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #7d7d7d;
    line-height: 1.83;
    margin-top: 16px;
    margin-left: 15px;
}

.box_footer {
    width: 1260px;
    height: 60px;
    background-color: #778a50;
    margin-top: 35px;
}

.footer {
    width: 302px;
    height: 11px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    padding-top: 2px;
    margin-left: 479px;
}